<div class="h-100 primary d-flex-col" [style.overflow]="'hidden'">
    <div class="d-flex-row w-100" [style.height]="'6%'" [style.border-bottom]="'0.25px solid #434040'">
        <div class="mr-auto accent my-auto ml-3 smalltext">INFERENCE</div>
        <button mat-button class="ml-auto my-auto mr-3">
            <mat-icon>add</mat-icon>
            <h4 [style.font-weight]="'400'">
                NEW CHAT
            </h4>
        </button>
    </div>
    <div [class]="screenService.sizes['screen-x-small'] ? 'd-flex-col mx-auto' : 'd-flex-row mx-auto'">
        <div class="accent smalltext mb-auto" [style.margin-top]="screenService.sizes['screen-x-small'] ? '0.33rem' : 'auto'" [style.text-align]="'center'" [style.min-width]="'280px'">SELECT APPLICATION</div>
        <mat-form-field class="my-auto mt-3" [style.min-width]="screenService.sizes['screen-x-small'] ? '300px' : '360px'" [style.width]="(this.screenService.calcWidth(1,'1rem') | async)!">
            <mat-select value="Chat">
                <mat-option value="Chat">Chat</mat-option>
                <mat-option *ngFor="let item of tiles" value="item.title">{{item.title}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="!chatActive" class="d-flex-col">
        <h1 [style.font-size]="screenService.sizes['screen-x-small'] ? '30px' : ''" class="accent mx-auto mt-3">Welcome Back, Oisin</h1>
        <div class="mb-auto mx-auto" [style.width]="screenService.sizes['screen-x-small'] || screenService.sizes['screen-small'] || screenService.sizes['screen-medium'] ? '96%' : '50%'">
            <div matRipple class="card-borderless d-flex-row hover" [style.height]="'80px'">
                <mat-icon mat-icon-button class="big-icon mx-3 my-auto">cloud_upload</mat-icon>
                <div class="d-flex-col">
                    <h4 class="mt-auto mb-0 accent" [style.font-weight]="'400'" >Drag and drop file here or select Source/Workspace</h4>
                    <div class="d-flex-row mb-auto mt-2 mb-3">
                        <h5 class="mr-1 my-0" [style.font-weight]="'400'" [style.color]="'#c50e0e'">Limit 50MB </h5>
                        <h5 class="my-0" [style.font-weight]="'400'" [style.color]="'#696666'">per file/workspace - 28 Filetypes supported</h5>
                    </div>
                </div>
                <h4 class="ml-auto my-auto mr-3" [style.font-weight]="'400'" [style.font-size]="'14px'" [style.color]="'#696666'">
                    BROWSE
                </h4>
            </div>
            <div [style.height]="screenService.sizes['screen-x-small'] ? '45%' : '100%'" [style.overflow]="'auto'">
                <mat-grid-list [cols]="screenService.cols | async" [rowHeight]="'130px'" [gutterSize]="'1rem'" class="mt-3" [style.width]="'98%'">
                    <mat-grid-tile class="card hover" *ngFor="let tile of tiles" matRipple>
                        <div class="d-flex-col mx-3">
                            <div class="d-flex-row">
                                <mat-icon [style.min-width]="'24px'" class="accent" [style.text-align]="'left'">monitor</mat-icon>
                                <h4 class="my-auto accent mr-3 w-100" [style.font-weight]="'500'" [style.text-align]="'center'" >{{tile.title}}</h4>
                            </div>
                            <h5 class="mx-1" [style.color]="'#828282'" >{{tile.description}}</h5>
                        </div>       
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </div>
    <div *ngIf="chatActive" class="mx-auto d-flex-col" [style.height]="'65%'" [style.overflow-y]="'auto'" [style.width]="screenService.sizes['screen-x-small'] || screenService.sizes['screen-small'] || screenService.sizes['screen-medium'] ? '96%' : '50%'">
        <button  mat-icon-button class="big-icon-button" (click)="clearChat()" [style.background-color]="'#282727'">   
            <mat-icon mat-icon-button>arrow_left</mat-icon>
        </button>
        <div  class="d-flex-col" [style.overflow-y]="'auto'">
            <div *ngFor="let item of chat" [style.margin-left]="item.sender == 'bot' ? '' : 'auto'" [style.margin-right]="item.sender == 'user' ? '' : 'auto'">
                <div class="chat-message d-flex-row my-3 container">
                    <div class="d-flex-row" [style.width]="'34px'" [style.height]="'34px'" class="mr-1 my-auto" *ngIf="item.sender == 'bot'" [style.border-radius]="'40px'" [style.background-color]="'#282727'">
                        <mat-icon class="accent ml-1 mt-1">language</mat-icon>
                    </div>
                    <p class="my-auto accent" [style.max-width]="'300px'" [style.font-weight]="'500'">{{item.message}}</p>
                </div>
            </div>
        </div>

    </div>
    <div class="mx-auto w-100" [style.position]="'absolute'" [style.bottom]="0">
        <div class="mx-auto mb-2" [style.width]="screenService.sizes['screen-x-small'] || screenService.sizes['screen-small'] || screenService.sizes['screen-medium'] ? '100%' : '50%'">
            <mat-form-field class="mt-auto ml-1" [style.min-width]="'260px'" [style.width]="(this.screenService.calcWidth(4,'1rem') | async)!" [style.max-width]="'260px'">
                <mat-select [(value)]="selectedLlm">
                    <mat-select-trigger>
                        <div class="d-flex-row" [style.height]="'24px'">
                            <mat-icon class="accent mr-1">{{ selectedLlm.icon }}</mat-icon>
                            <h5 class="my-auto mr-1">{{ selectedLlm.name }}</h5>
                            <h5 class="my-auto" [style.color]="'#828282'" [style.font-weight]="300">{{ selectedLlm.number }}</h5>
                        </div>
                    </mat-select-trigger>

                    <mat-option [style.height]="'24px'" *ngFor="let llm of llms" [value]="llm">
                        <mat-icon class="accent">{{ llm.icon }}</mat-icon>
                        <div class="d-flex-row">
                            <h5 [style.font-weight]="500" class="mr-1">{{ llm.name }}</h5>
                            <h5 [style.color]="'#828282'" [style.font-weight]="300">{{ llm.number }}</h5>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div [class]="screenService.sizes['screen-x-small'] || screenService.sizes['screen-small'] || screenService.sizes['screen-medium'] ? 'mx-3 card-borderless d-flex-row' : 'card-borderless d-flex-row'" [style.height]="'120px'">
                <button mat-icon-button class=" mx-3 my-auto big-icon-button">   
                    <mat-icon mat-icon-button >attachment</mat-icon>
                </button>
                <textarea class="w-100" placeholder="Enter your new prompt here if you have new questions" [(ngModel)]="message"></textarea>
                <button mat-icon-button class=" mx-3 my-auto big-icon-button-2" (click)="sendMessage()" (keyup)="'sendMessage()'">   
                    <mat-icon mat-icon-button>arrow_upward</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
