
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.accent {
  color: rgb(226, 219, 219);
}

.d-flex {display: flex !important;}
.d-flex-col{display: flex !important;flex-direction: column;}
.d-flex-row{display: flex !important;flex-direction: row;}
.h-100{height: 100% !important; }
.h-50{ height: 50% !important}
.h-auto{height: auto !important;}
.w-100{width: 100% !important;}
.w-50{ width: 50% !important}
.w-60{ width: 60% !important}


.m-auto{margin: auto !important;}
.mr-auto{margin-right: auto !important}
.ml-auto{margin-left: auto !important}
.mt-auto{margin-top: auto !important}
.mb-auto{margin-bottom: auto !important}
.my-auto{margin-top: auto !important;margin-bottom: auto !important}
.mx-auto{margin-left: auto !important;margin-right: auto !important;}

.mx-0{margin-left: 0rem !important;margin-right: 0rem!important;}
.mx-1{margin-left: 0.33rem !important;margin-right: 0.33rem!important;}
.mx-2{margin-left: 0.66rem !important;margin-right: 0.66rem!important;}
.mx-3{margin-left: 1rem !important;margin-right: 1rem!important;}

.my-0{margin-bottom: 0rem ;margin-top: 0rem;}
.my-1{margin-bottom: 0.33rem ;margin-top: 0.33rem;}
.my-2{margin-bottom: 0.66rem ;margin-top: 0.66rem;}
.my-3{margin-bottom: 1rem ;margin-top: 1rem;}

.my-0{margin-top: 0rem !important;margin-bottom: 0rem!important;}
.my-1{margin-top: 0.33rem !important;margin-bottom: 0.33rem!important;}
.my-2{margin-top: 0.66rem !important;margin-bottom: 0.66rem!important;}
.my-3{margin-top: 1rem !important;margin-bottom: 1rem!important;}

.mt-0 {margin-top: 0rem !important;}
.mt-1 {margin-top: 0.33rem !important;}
.mt-2 {margin-top: 0.66rem !important;}
.mt-3 {margin-top: 1rem !important;}

.mb-0 {margin-bottom: 0rem !important;}
.mb-1 {margin-bottom: 0.33rem !important;}
.mb-2 {margin-bottom: 0.66rem !important;}
.mb-3 {margin-bottom: 1rem !important;}

.ml-0 {margin-left: 0rem !important;}
.ml-1 {margin-left: 0.33rem !important;}
.ml-2 {margin-left: 0.66rem !important;}
.ml-3 {margin-left: 1rem !important;}

.mr-0 {margin-right: 0rem !important;}
.mr-1 {margin-right: 0.33rem !important;}
.mr-2 {margin-right: 0.66rem !important;}
.mr-3 {margin-right: 1rem !important;}

.m-0 {margin: 0 !important;}
.m-1 {margin: 0.33rem !important;}
.m-2 {margin: 0.66rem !important; }
.m-3 {margin: 1rem !important;}


.p-0 {padding: 0px !important;}
.p-1 {padding: 0.33rem !important}
.p-2 {padding: 0.66rem !important}
.p-3 {padding: 1rem !important}

.pl-0 {padding-left: 0rem !important}
.pl-1 {padding-left: 0.33rem !important}
.pl-2 {padding-left: 0.66rem !important}
.pl-3 {padding-left: 1rem !important}

.pr-0 {padding-right: 0rem !important}
.pr-1 {padding-right: 0.33rem !important}
.pr-2 {padding-right: 0.66rem !important}
.pr-3 {padding-right: 1rem !important}

.py-0 {padding-top: 0px !important; padding-bottom: 0 !important;}
.py-1 {padding-top: 0.33rem !important; padding-bottom: 0.33rem !important;}
.py-2 {padding-top: 0.66rem !important; padding-bottom: 0.66rem !important;}
.py-3 {padding-top: 1rem !important; padding-bottom: 1rem !important;}

.pt-0 {padding-top: 0px !important;}
.pt-1 {padding-top: 0.33rem !important;}
.pt-2 {padding-top: 0.66rem !important;}
.pt-3 {padding-top: 1rem !important;}
.px-0 {padding-left: 0px !important; padding-right: 0 !important;}
.px-1 {padding-left: 0.33rem !important; padding-right: 0.33rem !important;}
.px-2 {padding-left: 0.66rem !important; padding-right: 0.66rem !important;}
.px-3 {padding-left: 1rem !important; padding-right: 1rem !important;}

h1 {
  font-weight: 500 ;
  font-size: 52px;
}

.primary {
  color: #070C15;
  background-color: #070C15;
}

.smalltext {
  font-family: TTNormsPro, sans-serif;
  font-size: .875rem;
}

.mat-mdc-form-field-infix {
  padding: 0 !important
}

.mat-mdc-select {
  margin-top: 0.3rem;
}

.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
  height: 36px;
  background-color: #020a1d;
  border:0.25px solid #434040;
  border-radius:8px;
}

mat-option {
  background-color: #121f3a;
  min-height: 28px !important;

  span {
    color: rgb(226, 219, 219);
  }
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: #263b67 !important;

  span {
    color: rgb(226, 219, 219);
  }
}


.mat-mdc-select-value span {
  color: rgb(226, 219, 219);
  font-size: 14px !important;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}

div.mat-mdc-select-panel {
  padding: 0 !important;
  background-color: #121f3a !important;
}

.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after{
  color: rgb(226, 219, 219) !important;
}

.card {
  background-color: #0d1019 !important;
  border:0.25px solid #282727;
  border-radius: 8px;
}

.chat-message {
  min-height: 30px;
  max-width: 300px;
  background-color: #0d1019 !important;
  border:0.25px solid #282727;
  border-radius: 16px;
  padding: 0.4rem;
}

.card-borderless {
  background-color: #0d1019 !important;
  border-radius: 8px;
}

.inputbox {
  background-color: #0d1222 !important;
  border-radius: 8px;
}


.big-icon {
  color: rgb(226, 219, 219);
  font-size: 36px;
  min-width: 40px !important;
  min-height: 40px !important;
}

.hover {
  cursor: pointer;
}

textarea {
  margin-top: 3rem;
  color: white;
  max-height:60px;
  min-height:60px;
  background-color: #0d1222;
  border: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  resize: none;

}

textarea:focus {
  outline: none;
  border: none;  
}

textarea::placeholder {
  vertical-align:middle;
}

.container {
  white-space: normal; 
  overflow-wrap: break-word;
}

.big-icon-button {
  color:rgb(230, 230, 230) !important;
  width: 36px !important;
  height: 36px !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role=img] {
     width: 28px;
     height: 28px;
     font-size: 28px;

     svg {
        width: 28px;
        height: 28px;
     }
  }

  .mat-mdc-button-touch-target {
     width: 36px !important;
     height: 36px !important;
  }
}

.big-icon-button-2 {
  border-radius: 6px !important;
  color:rgb(230, 230, 230) !important;
  background-color:#393737 !important;
  width: 40px !important;
  height: 40px !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role=img] {
     width: 18px;
     height: 18px;
     font-size: 18px;

     svg {
        width: 18px;
        height: 18px;
     }
  }

  .mat-mdc-button-touch-target {
     width: 40px !important;
     height: 40px !important;
  }
}

.mdc-line-ripple {
  display: none;
}
